<!--Page heading-->
<div class="row wow fadeIn" data-wow-delay="0.2s">
    <div class="col-md-12">
        <h1 class="h1-responsive">Search results by your features
            <small class="text-muted"></small>
        </h1>
    </div>
</div>
<!--/.Page heading-->
<hr>

<!--First row-->
<div class="row wow fadeIn" data-wow-delay="0.2s">
    <!--First column-->
    <div class="col-lg-3 wow fadeIn">
        <!--Card-->
        <div class="card">

            <!--Card image-->
            <div class="view overlay hm-white-slight">
                <img src="http://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(11).jpg" class="img-fluid" alt="">
                <a href="#!">
                    <div class="mask"></div>
                </a>
            </div>
            <!--/.Card image-->

            <!--Card content-->
            <div class="card-block">
                <!--Title-->
                <h4 class="card-title">Card title</h4>
                <!--Text-->
                <div class="read-more btn-many">
                    <a class="btn btn-info"><i class="fa fa-info" aria-hidden="true"></i></a>
                    <a class="btn btn-info"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a class="btn btn-info"><i class="fa fa-times" aria-hidden="true"></i></a>
                </div>
            </div>
            <!--/.Card content-->

        </div>
        <!--/.Card-->
    </div>
    <!--/.First column-->
</div>
<!--/.First row-->

<a class="btn btn-info">Add Feature</a>

<a class="btn btn-info">Search</a>

<br><br><br>
