<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/assets/style/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
</head>

<body>

    <header>
        <nav>
            <a>ARTstyles</a>
            <div>
                <a class="active">Search Styles</a>
                <a>About Styles</a>
            </div>
        </nav>
    </header>

    <div class="search-content">
        <h1>Find the style of these features</h1>

        <div class="search-btn">
            <button>ADD FEATURE</button>

            <div style="display: none">
                <div class="popup-background"></div>
                <div class="setting-popup">
                    <div class="popup-header">
                        <h2 class="feature">Select feature</h2>

                        <input> <button class="search-btn"><i class="fa fa-search" aria-hidden="true"></i></button>

                        <button class="close-popup"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </div>
                    <div class="popup-content">
                        <div class="one-filter">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Sveta_Stosija_Zadar_front.jpg">
                            <h4>Колони часів ренесансу</h4>
                            <div>
                                <button><i class="fa fa-info" aria-hidden="true"></i></button>
                                <button><i class="fa fa-plus" aria-hidden="true"></i></button>
                                <button class="is-check"><i class="fa fa-check" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="one-filter">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Sveta_Stosija_Zadar_front.jpg">
                            <h4>Колони часів ренесансу</h4>
                            <div>
                                <button><i class="fa fa-info" aria-hidden="true"></i></button>
                                <button><i class="fa fa-plus" aria-hidden="true"></i></button>
                                <button class="is-check"><i class="fa fa-check" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="one-filter">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Sveta_Stosija_Zadar_front.jpg">
                            <h4>Колони часів ренесансу</h4>
                            <div>
                                <button><i class="fa fa-info" aria-hidden="true"></i></button>
                                <button><i class="fa fa-plus" aria-hidden="true"></i></button>
                                <button class="is-check"><i class="fa fa-check" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="one-filter">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Sveta_Stosija_Zadar_front.jpg">
                            <h4>Колони часів ренесансу</h4>
                            <div>
                                <button><i class="fa fa-info" aria-hidden="true"></i></button>
                                <button><i class="fa fa-plus" aria-hidden="true"></i></button>
                                <button class="is-check"><i class="fa fa-check" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="one-filter">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Sveta_Stosija_Zadar_front.jpg">
                            <h4>Колони часів ренесансу</h4>
                            <div>
                                <button><i class="fa fa-info" aria-hidden="true"></i></button>
                                <button><i class="fa fa-plus" aria-hidden="true"></i></button>
                                <button class="is-check"><i class="fa fa-check" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="one-filter">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Sveta_Stosija_Zadar_front.jpg">
                            <h4>Колони часів ренесансу</h4>
                            <div>
                                <button><i class="fa fa-info" aria-hidden="true"></i></button>
                                <button><i class="fa fa-plus" aria-hidden="true"></i></button>
                                <button class="is-check"><i class="fa fa-check" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="one-filter">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Sveta_Stosija_Zadar_front.jpg">
                            <h4>Колони часів ренесансу</h4>
                            <div>
                                <button><i class="fa fa-info" aria-hidden="true"></i></button>
                                <button><i class="fa fa-plus" aria-hidden="true"></i></button>
                                <button class="is-check"><i class="fa fa-check" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="one-filter">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Sveta_Stosija_Zadar_front.jpg">
                            <h4>Колони часів ренесансу</h4>
                            <div>
                                <button><i class="fa fa-info" aria-hidden="true"></i></button>
                                <button><i class="fa fa-plus" aria-hidden="true"></i></button>
                                <button class="is-check"><i class="fa fa-check" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="one-filter">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Sveta_Stosija_Zadar_front.jpg">
                            <h4>Колони часів ренесансу</h4>
                            <div>
                                <button><i class="fa fa-info" aria-hidden="true"></i></button>
                                <button><i class="fa fa-plus" aria-hidden="true"></i></button>
                                <button class="is-check"><i class="fa fa-check" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>


                    <div style="display: none">
                        <div class="popup-background" style="background: rgba(26, 26, 26, 0.39);"></div>
                        <div class="setting-popup" style="height: auto;">
                            <div class="popup-header">
                                <h2>Select feature`s type</h2>
                                <h3>or</h3>

                                <button class="add-all-btn"><i class="fa fa-plus" aria-hidden="true"></i> Add all</button>

                                <button class="close-popup"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </div>
                            <div class="popup-content">
                                <div class="one-filter">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Sveta_Stosija_Zadar_front.jpg">
                                    <h4>Колони часів ренесансу</h4>
                                    <div>
                                        <button><i class="fa fa-info" aria-hidden="true"></i></button>
                                        <button><i class="fa fa-plus" aria-hidden="true"></i></button>
                                        <button class="is-check"><i class="fa fa-check" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <button>SEARCH</button>
        </div>

        <div class="one-filter">
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Sveta_Stosija_Zadar_front.jpg">
            <h4>Колони часів ренесансу</h4>
            <div>
                <button><i class="fa fa-info" aria-hidden="true"></i></button>
                <button><i class="fa fa-pencil" aria-hidden="true"></i></button>
                <button><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="one-filter">
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Sveta_Stosija_Zadar_front.jpg">
            <h4>Колони часів ренесансу</h4>
            <div>
                <button><i class="fa fa-info" aria-hidden="true"></i></button>
                <button><i class="fa fa-pencil" aria-hidden="true"></i></button>
                <button><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="one-filter">
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Sveta_Stosija_Zadar_front.jpg">
            <h4>Колони часів ренесансу</h4>
            <div>
                <button><i class="fa fa-info" aria-hidden="true"></i></button>
                <button><i class="fa fa-pencil" aria-hidden="true"></i></button>
                <button><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="one-filter">
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Sveta_Stosija_Zadar_front.jpg">
            <h4>Колони часів ренесансу</h4>
            <div>
                <button><i class="fa fa-info" aria-hidden="true"></i></button>
                <button><i class="fa fa-pencil" aria-hidden="true"></i></button>
                <button><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="one-filter">
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Sveta_Stosija_Zadar_front.jpg">
            <h4>Колони часів ренесансу</h4>
            <div>
                <button><i class="fa fa-info" aria-hidden="true"></i></button>
                <button><i class="fa fa-pencil" aria-hidden="true"></i></button>
                <button><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
        </div>

    </div>

    <div class="search-content">
        <h1>Search results by your features</h1>

        <div class="style-one">
            <hr>
            <h2>Some style name</h2>

            <div class="left-div">
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Sveta_Stosija_Zadar_front.jpg">

            </div>
            <div class="des-div">
                <p>Курс даст возможность быстро начать создавать свои приложения с использованием одного из самых популярных фреймворков – Angular 2.
                    В процессе прохождения курса шаг за шагом вы сделаете реальное приложение и хорошо разберетесь в специфике Angular 2.
                    Курс на английском, но на самом деле, если у вас хромает язык, главное попытаться вникнуть в код,
                    который пишет автор, в основном все прикрепляется слайдами, которые тоже интуитивно понятны. Платить ничего не нужно, сиди и развивайся. </p>
            </div>
            <div class="right-div">
                <ul>
                    <li>Some feature</li>
                    <li>Some feature</li>
                    <li>Some feature</li>
                </ul>
            </div>
        </div>

        <div class="style-one">
            <hr>
            <h2>Some style name</h2>

            <div class="left-div">
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Sveta_Stosija_Zadar_front.jpg">

            </div>
            <div class="des-div">
                <p>Курс даст возможность быстро начать создавать свои приложения с использованием одного из самых популярных фреймворков – Angular 2.
                    В процессе прохождения курса шаг за шагом вы сделаете реальное приложение и хорошо разберетесь в специфике Angular 2.
                    Курс на английском, но на самом деле, если у вас хромает язык, главное попытаться вникнуть в код,
                    который пишет автор, в основном все прикрепляется слайдами, которые тоже интуитивно понятны. Платить ничего не нужно, сиди и развивайся. </p>
            </div>
            <div class="right-div">
                <ul>
                    <li>Some feature</li>
                    <li>Some feature</li>
                    <li>Some feature</li>
                </ul>
            </div>
        </div>

        <div class="style-one">
            <hr>
            <h2>Some style name</h2>

            <div class="left-div">
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Sveta_Stosija_Zadar_front.jpg">

            </div>
            <div class="des-div">
                <p>Курс даст возможность быстро начать создавать свои приложения с использованием одного из самых популярных фреймворков – Angular 2.
                    В процессе прохождения курса шаг за шагом вы сделаете реальное приложение и хорошо разберетесь в специфике Angular 2.
                    Курс на английском, но на самом деле, если у вас хромает язык, главное попытаться вникнуть в код,
                    который пишет автор, в основном все прикрепляется слайдами, которые тоже интуитивно понятны. Платить ничего не нужно, сиди и развивайся. </p>
            </div>
            <div class="right-div">
                <ul>
                    <li>Some feature</li>
                    <li>Some feature</li>
                    <li>Some feature</li>
                </ul>
            </div>
        </div>
    </div>

    <footer>

    </footer>

</body>

</html>
