<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet">

    <style>

        h1, h2, h3, h4, h5, h6, p, span, a, button, ul {
            font-family: 'Roboto', sans-serif;
        }

        body {
            background-color: #f5f5f5;
            padding: 25px 300px;
        }

        .main-block {
            padding: 20px 100px;
            background: white;
            margin-bottom: 50px;    
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        }

        h1 {
            color: #747474;
        }


    </style>
</head>
<body>
    <div class="main-block">
        <h1>Open API for [architecture styles]</h1>
    </div>
    <div class="main-block">
        <h1>Open API for [architecture styles]</h1>
    </div>
    <div class="main-block">
        <h1>Open API for [architecture styles]</h1>
    </div>
    <div class="main-block">
        <h1>Open API for [architecture styles]</h1>
    </div>
</body>
</html>
