.one-card {
    margin-bottom: 30px;
}

.search {
    margin: 20px 0 30px 0;
}

.search input {
    border: none;
    border-bottom: 2px solid #507299;
    padding: 10px 0;
    margin-bottom: 30px;
    width: calc(100% - 150px);
    margin-top: 3px;
}

.search .read-more {
    display: inline-block;
     float: right;
}
